<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Portfolio | Jimbo James</title>
    <link rel="icon" href="/images/title-bar-icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="#top">
            <div class="header-title">
                <img src="/images/main-icon.png" alt="ICON">
                <div class="texts">
                    <span class="name">Jimbo James Bacus</span>
                    <span class="title">UI/UX DESIGNER</span>
                </div>
            </div>
        </a>

        <nav>
            <ul>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <section class="landing" id="landing">
        <div>
            <div class="content">
                <span class="proposition">Making things more interesting.</span>
                <span class="title">UI/UX DESIGNER</span>
                <div class="call-action">
                    <button id="btn-action">SEE MY WORK</button>
                    <a href="#">or Send me a message <img src="/images/arrow.png" alt="Arrow"></a>
                </div>
            </div>
            <img src="/images/landing-image.png" alt="IMAGE">
        </div>
    </section>
    <section class="projects" id="projects">
        <h1>projects</h1>
        <span class="sub-title">Latest projects</span>
        <a href="#">View All <img src="/images/arrow-white.png" alt="arrow"></a>
        <div class="projects-grid">
            <div class="project">
                <h1>Tessie's</h1>
                <p>Business website.</p>
                <a href="#">View Project <img src="/images/arrow-white.png" alt="arrow"></a>
            </div>
            <div class="project">
                <h1>Portfolio | Francis Dela Victoria</h1>
                <p>Developer's Portfolio</p>
                <a href="#">View Project <img src="/images/arrow-white.png" alt="arrow"></a>
            </div>
            <div class="project">
                <h1>Jane's Coffee</h1>
                <p>Business website.</p>
                <a href="#">View Project <img src="/images/arrow-white.png" alt="arrow"></a>
            </div>
            <div class="project">
                <h1>Portfolio | Joseph Esguerra</h1>
                <p>Photographer's Portfolio.</p>
                <a href="#">View Project <img src="/images/arrow-white.png" alt="arrow"></a>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <h1>about</h1>
        <p>I've been a UI/UX designer for over a year now and I've done designs for online and local clients. Over the span of time that I have been a designer, I have worked smoothly with teams and other people. I also have basic knowledge on development but I think my interest really is into design. Every day I continue to produce quality designs as I continue learn new tricks everyday.</p>
        <h4>Things I use</h4>
        <div>
            <h6>Figma</h6>
            <h6>AdobeXD</h6>
            <h6>Sketch</h6>
        </div>
    </section>
    <section class="contact" id="contact">
        <h1>contact</h1>
        <h5>Interested in my services?</h5><br>
        <a href="#">Send me a message <img src="/images/arrow-white.png" alt=""></a>
        <div class="contact-grid">
            <span><b>Mobile Number: </b>+63 916 880 2471</span>
            <span><b>Email: </b>jimbojamesb@gmail.com</span>
            <span><b>Facebook: </b>/JJAuau07</span>
            <span><b>Instagram: </b>@jimborionsbelt</span>
        </div>
    </section>

    <script src="/scripts/main.js"></script>
</body>
</html>